# Dependencies
node_modules/
.pnp
.pnp.js

# Production output
dist/
build/

# Local Environment Variables
.env
.env.local
.env.*.local
!.env.example

# Editor & IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.antigravity/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# System Files
.DS_Store
Thumbs.db
